#tool_wnd {
  position: fixed;
  top: 15px;
  right: 10px;
  width: 650px;
  box-sizing: content-box;
  background: #fff;
  box-shadow:
    0 7px 14px rgba(0, 0, 0, 0.25),
    0 5px 5px rgba(0, 0, 0, 0.22);
  text-align: center;
  z-index: 2147483647;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  cursor: default;
  user-select: none;
}


#tool_wnd table.table {
  border-spacing: 0px;
  margin-top: 50px;
}

#tool_wnd table.controls {
  margin: 16px auto 12px auto;
}


#tool_wnd table.table td {
  border: 1px solid #4E6A87;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50px;
  height: 21px;
  word-wrap: break-word;
  table-layout: fixed;
}

#tool_wnd table.table td div {
  display:block;
  width: 100%;
  height: 21px;
  /*background: #F6F6F6;*/
}


#tool_wnd table.table tr.tool_table_decor_bot td {
  height: 5px;
  border-bottom: none;
}

#tool_wnd table.table td div {
  overflow: hidden;
  max-width: 56px;
  max-height: 21px;
}

#tool_wnd div#tool_display {
  color: #A3A3A3;
}

#tool_wnd .ct_logo {
  font-size: 16px;
  text-align: left;
  background-color: #ccc;
  position: absolute;
  cursor: move;
  width: 100%;
  height: 30px;
  padding: 6px;
  box-sizing: border-box;
}

#tool_wnd .tool_wind_body {
  margin: 22px 7px 7px 7px;
}

#tool_wnd #tool_area_btn,
#tool_wnd #tool_row_btn {
  width: 50px!;
}

/* 
#tool_Q_W {
  display: inline-block;
  margin-right:25%;
} */



#tool_wnd div.shorter,
#tool_wnd div.longer {
  /* margin: 5px; */
  color: black;
  height: 30px;
  width: 50px;
  background-color: #F2F2F2;
  border: 1px solid black;
  line-height: 28px;
  box-sizing: border-box;
  display: inline-block;
}

#tool_wnd .ct_close {
  position: absolute;
  top: 0px;
  right: 0px;
}

#tool_wnd .ct_close>div {
  font-size: 16px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #E67E22;
  cursor: default;
  line-height: 30px;
  text-align: center;
}

.send_selected {
  text-align: center;
  font-size: 16px;
  height: 30px;
  border: 0;
  background-color: #3498DB;
  display: inline-block;
  line-height: 30px;
  width: 100px;
}

#tool_wnd table#path_show {
  width:100%;
}

#tool_current_elm,
#tool_clicked_elm,
#tool_selected_elm {
  width:550px;
  margin-top: 5px;
  background: #f7f7f7;
  border: solid 12px #f7f7f7;
  border-width: 12px 0 12px 0;
  max-height: 84px;
  overflow: hidden;
  color: black;
  user-select: text;

}

#tool_overlay {
  z-index: 2147483645;
}

.clicked_cell {
  box-shadow: inset 0px 0px 13px 1px rgba(65,167,225, 0.5);
}

.highlight_effect {
  box-shadow: inset 0px 0px 13px 1px rgba(100,67,225, 0.5);
}
